<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello, <%= @user.email %>!</p>
    <p>Welcome to Snifme!</p>
  </body>
</html>

