<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password reset requested for <%= @user.email %>!</h1>
    <p>If you did not request to reset your password, please disregard this email.<p>
    <p>If you did request to reset your password, please click on link to reset your password:
      <a href=<%=@link_url%>>Reset Password</a>
    </p>
  </body>
</html>

