<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.email %>!</h1>
    <p>Please confirm your account:
      <a href=<%=@link_url%>>Confirm</a>
    </p>
  </body>
</html>

